@import url(../../css/ncmik/NotoSansKR-Hestia.css);
#container-wrap{
	width:100%;
}
#content{
	/*width: 82.9 16666666666666666666666666667%;
    max-width: 990px;
    float: none;
    margin:0 auto;
    min-height:800px; */
    width: 82.916666666666666666666666666667%;
    max-width: 990px;
    margin-bottom: 20px;
    float: right;
    position: relative;
    margin-top: 10px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
}
.content_list{
	font-size:16px;
	font-weight:300;
	color:#4F4E53;
	letter-spacing:0.3px;
	min-height:700px;
}
p{
	margin:0;
	padding:0;
}
.eng_text{
	text-indent:10px;	
	margin-bottom:13px;
	font-size:16px;
}
.eng_textSub{
	text-indent:10px;	
	margin-bottom:13px;
	font-size:16px;
	margin-left:15px;
}
.eng_text_box>ol{
	margin-top:0px;
}
.reference{
	color:#000;
	font-size:16px;
	padding-left:30px;
}
.reference>strong{
	font-weight:400;
}
.reference>span{
	color:#4CACC4;;
}
.img_box{
	text-align:center;
	margin:30px auto;	
	}
.img_box>.border_box{
	border:1px solid #ccc;
	display:inline-block;
	padding:10px;
}
.img_box>.border_box>.pic{
	width:32%;
	border:1px solid #eee;
	margin-right:2%;
	float:left;
	box-sizing:border-box;
	padding:5px;
	margin-bottom:15px;
}
.img_box>.border_box>.pic:nth-child(3n){
	margin-right:0%;
}
.img_box>.border_box:after{
	clear:none;
	display:block;
	content:"";
}
.img_box>.border_box>.pic>p>img{
	width:100%;
}
.image_caption{
	font-size:13px;
	color:#47584D;
}
#bodyInfo{
	color: #555;
}
#bodyInfo>tr>td:first-child{
	text-align:center;
}
.infor_list{
	width:100%;
}
.infor_list>p:first-child{
	width:11%;
	display:inline-block;
	float:left;
	text-align:right;
}
.infor_list>p:last-child{
	width:atuo;
	display:inline-block;
	float:left;
	padding-left:2%;
}

.infor_list:after{
	display:block;
	content:"";
	clear:both;
}
.content_box>.content_list .list_title>p{
	margin: 0;
    display: inline-block;
    border-top: 0px solid rgba(0,0,0,0.3);
    font-size: 18px;
}
.eng_textdot{
	text-indent: 10px;
	margin-bottom:13px;
}
.eng_textdotT{
	text-indent: 10px;
	margin-bottom:13px;
	 font-weight: 400;
}    

.imgp{
	width: 100%;
    max-width: 752.641px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    text-align: center; 
}

.w_report{
	width:48%;
	margin:0 1%;
	float:left;
	height:100%;
	box-sizing:border-box;
	padding:0;
}
.w_report>img{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:1px solid #e8e8e8;
}
   