<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>initApp</servlet-name>
    <servlet-class>kr.go.cris.commons.init.ConfigServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>domain</param-name>
      <param-value>http://library.nih.go.kr</param-value>
    </init-param>
    <init-param>
      <param-name>contextPath</param-name>
      <param-value>${ctxt}/</param-value>
    </init-param>
    <init-param>
      <param-name>uploadPath_pop</param-name>
      <param-value>/resources/templete/upload/</param-value>
    </init-param>
    <init-param>
      <param-name>uploadPath_zip</param-name>
      <param-value>E:/zipFileUpload/</param-value>
    </init-param>
    <init-param>
      <param-name>uploadPath</param-name>
      <param-value>E:/upload/file/</param-value>
    </init-param>
    <init-param>
      <param-name>mailSender</param-name>
      <param-value>stat@nst.re.kr</param-value>
    </init-param>
    <init-param>
      <param-name>devMode</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>message_format</param-name>
      <param-value>JSON</param-value>
    </init-param>
    <init-param>
      <param-name>edsapi_end_point</param-name>
      <param-value>http://adn-eds-api.ebscohost.com/EDSAPI/rest</param-value>
    </init-param>
    <init-param>
      <param-name>profile</param-name>
      <param-value>edsapi</param-value>
    </init-param>
    <init-param>
      <param-name>authentication_type</param-name>
      <param-value>UID</param-value>
    </init-param>
    <init-param>
      <param-name>authentication_end_point</param-name>
      <param-value>https://adn-eds-api.ebscohost.com/Authservice/rest</param-value>
    </init-param>
    <init-param>
      <param-name>user_name</param-name>
      <param-value>ncmik</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>library</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>initApp</servlet-name>
    <url-pattern>/initApp/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>kr.go.cris.ptl.eds.servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpanderAction</servlet-name>
    <servlet-class>kr.go.cris.ptl.eds.servlets.ExpanderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpanderAction</servlet-name>
    <url-pattern>/ExpanderAction/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LimiterAction</servlet-name>
    <servlet-class>kr.go.cris.ptl.eds.servlets.LimiterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimiterAction</servlet-name>
    <url-pattern>/LimiterAction/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FacetAction</servlet-name>
    <servlet-class>kr.go.cris.ptl.eds.servlets.FacetAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacetAction</servlet-name>
    <url-pattern>/FacetAction/*</url-pattern>
  </servlet-mapping>
  <jsp-config/>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>cors</filter-name>
    <filter-class>kr.go.cris.commons.init.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cors</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/config/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
      			  /WEB-INF/config/spring/appServlet/servlet-context.xml
      			  /WEB-INF/config/spring/context/ws-config.xml
      </param-value>
    </init-param>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/errorout.do</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.do</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.do</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error/405.do</location>
  </error-page>
</web-app>