/* Layout */
/* p,ul,dl,form,input,textarea,select,label { */
/* 	margin-bottom: 0.2em; */
/* } */

.navmenu dt {
	background-color: #EEEEEE;
	font-weight: bold;
	margin-top: 0.75em;
	padding: 0.2em 0.4em;
}

.navmenu dd {
	border-bottom: 1px solid #E3E3E3;
	list-style-type: none;
	margin: 0;
	padding: 0.1em 0 0.1em 0.4em;
}

dl dt {
	font-weight: bold;
}

/* a:link { */
/* 	text-decoration: none; */
/* 	color: blue; */
/* } */

/* a:visited { */
/* 	text-decoration: none; */
/* 	color: blue; */
/* } */

.xml {
	background-color: #FFFFFF;
	border: 1px solid Black;
	font-family: Verdana;
	padding: 10px;
	position: relative;
	z-index: 5;
}

p.submit {
	padding: 10px 0;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h1 {
	line-height: 1;
}

h4 {
	border-bottom: 2px solid #DDDDDD;
}

h4 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
	color: #111111;
	font-weight: normal;
}
/*, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section */
/* body { */
/* 	border: 0 none; */
/* 	font-family: inherit; */
/* 	font-size: 90%; */
/* 	font-style: inherit; */
/* 	font-weight: inherit; */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	vertical-align: baseline; */
/* 	font-family: Arial; */
/* } */
/*body {
    font-family: Arial;
    font-size: 0.85em;
    margin: 1.5em 0;
    background-color: #DFEFFC;
}*/
/* .container { */
/* 	background: none repeat scroll 0 0 #FFFFFF; */
/* 	border: 1px solid #DDDDDD; */
/* 	border-radius: 5px 5px 5px 5px; */
/* 	margin: 0 auto; */
/* 	width: 950px; */
/* } */

/* .header { */
/* 	border: 1px solid #cccccc; */
/* 	height: 65px; */
/* 	padding: 0.8em; */
/* 	font-size: 80%; */
/* } */

/* .login { */
/* 	font-family: Arial; */
/* 	float: right; */
/* 	position: relative; */
/* } */

/* .login a:hover { */
/* 	color: lightsteelblue */
/* } */

.loginfailed {
	background: none repeat scroll 0 0 #FBE3E4;
	border: 2px solid #FBC2C4;
	color: #8A1F11;
	font-size: 80%;
	padding: 0.8em;
	margin-bottom: 1em;
}
.result{
	font-size:14px;
}
.record-id{
	display:inline-block;
}
.guestbox {
	text-align: center;
	margin-left: 80px;
	margin-top: 30px;
	float: left;
	width: 300px;
	border: 1px solid #327BBA;
	background: none repeat scroll 0 0 blanchedalmond
}
.result{
	position:relative;
}
.pubtype {
	float:left;
	width: 10%;
	max-width:56px;
	font-size:12px;
	color:#6f6f6f;
	line-height:120%;
	margin: 0 2px 15px 2.817695125387433079740772048464%;
}
  
.guestbox a:hover { 
	color: lightsteelblue
}
 
.topSearchBox {
	border-bottom: 1px solid #DDDDDD;
	padding: 0;
	margin-bottom: 1em;
}

.topbar {
	background: #1079C9;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.topbar-resultList {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* .content { */
/* 	margin: 0; */
/* 	padding: 10px; */
/* 	border-top: 1px solid #DDDDDD; */
/* 	background-color: whitesmoke; */
/* } */

#toptabcontent {
	border: 1px solid #CDCDCD;
	clear: left;
	padding: 1em 0.5em;
	background: white;
}

.error {
	color: red;
}

.span-5 {
	margin: auto;
	width: 600px;
}

.searchHomeContent {
	margin: 0 auto;
	padding: 5em 0;
	text-align: left;
	width: 800px;
}

.searchHomeForm {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	background-color: #E3E9EE;
	border: 2px solid #327BBA;
}

div.searchHomeForm 
 div.searchform {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

.header,.searchbox,.breadcrumbs,.main,.footer {
	padding: 0.8em;
}

.searchbox,.breadcrumbs,.main,.footer {
	border-top: 1px solid #DDDDDD;
}

.version {
	text-align: right;
	font-size: 85%;
	color: lightgray;
	height: 10px;
	position: relative;
}

.floatleft {
	float: left;
}

.Granular-Data-Table {
	display: none;
}

.granular-data-link {
	border: 1px solid #DDDDDD;
}

/* Results */
.table {
	display: table;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
}

.table-row {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.table-cell {
	display: table-cell;
	/*padding: 10px;*/
	vertical-align: top;
}

.top-menu {
	margin-bottom: 35px;
	margin-left: 20px;
}

.menu {
	margin-bottom: 10px;
	float: right;
}

.filters,.facets {
/* 	width: 220px; */
}

.facet-values {
	margin-bottom: 10px;
	display: none;
}

.facet-label dt {
	background-color: #EEEEEE;
	font-weight: bold;
	margin-top: 0.75em;
	padding: 0.2em 0.4em;
}

.facet-label dd {
	border-bottom: 1px solid #E3E3E3;
	list-style-type: none;
	margin: 0;
	padding: 0.1em 0 0.1em 0.4em;
}

.facet-values dt {
	background-color: #EEEEEE;
	font-weight: bold;
	margin-top: 0.75em;
	padding: 0.2em 0.4em;
}

.facet-values dd {
	border-bottom: 1px solid #E3E3E3;
	list-style-type: none;
	margin: 0;
	padding: 0.1em 0 0.1em 0.4em;
}

.facet-values p {
	margin: 5px 0;
}

.filters p {
	margin: 5px 0;
}

ul.filters {
	background-color: orange;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0.2em 0.4em;
	width: 210px;
}

.results {
	width: 660px;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

/* 짝수번호 회색표시 */
/* .result:nth-child(2n+0) { 
 	background-color: #eeeeee; 
 } */



.author, .subject, .journal, .abstract{
	text-align:justify;
	font-size: 14px;
    color: #333;
    display:inline-block;
    margin-bottom:7px;
    margin-left:3.948778699159474248321769052857%;   
    width: 85%;
    max-width: 618px;
}
 
.author > .highlight2, 
.subject > .highlight2, 
.journal > .highlight2, 
.abstract > .highlight2 {
	color:#985735; 
	font-weight: bold;
	font-family: "Nanum Gothic";
}
.author > .highlight2:before, 
.subject > .highlight2:before,    
.journal > .highlight2:before, 
.abstract > .highlight2:before{
	width:10px; 
	height:20px;
	display:inline-block;
	content:"-";
}

.info:after,
.info > .title_box > ul:after{
	clear:both;
	display:block;
	content:"";
}
.sidebar-right-text2 {
    /* font-weight: 500; */
}
.info{
	border-bottom:1px solid #CCDDED;
	width:100%;
	max-width:709.8px;
	position:relative;
}
.info > .title_box{
	margin-top:1%;
	width:100%;
	max-width:680px;  
	display:inline-block;
	float:left;
	font-weight: normal;
}
.info > .title_box > ul{
	width:100%;
	display:block;
	margin-bottom: 10px;
}
.info > .title_box  > ul > .record-id{
	width:4.423380726698262243285939968404%;
	float:left;
	line-height:120%;
}
.info > .title_box  > ul > li:last-child{
	width:95%; 
	max-width:650px;
	float:left;
	line-height:120%;
}
.pubtype > a > img {  
	width:50px;
}

.abstract {
	margin-bottom: 10px;
}

.full-abstract {
	margin-bottom: 10px;
	display: none;
}

.authors {
	margin-bottom: 10px;
}

.subjects {
	margin-bottom: 10px;
}

.links {
	margin-bottom: 10px;
	margin-left:28px; 
}
.Discovery_box .links{
	margin-left:0;
}
.custom-links {
	margin-bottom: 50px;
}

.custom-links ul {
	list-style-type: none;
}

.custom-links ul li {
	float: left;
}

.pagination {
	color: black !important;
	margin-bottom: 20px;
	padding-bottom: 1px;
	text-align: center;
}

.pagination a {
	display: inline-block;
	line-height: 1em;
	margin: 0 1px;
	padding: 0 1px;
	color: #327BBA !important;
}

.pagination p {
	margin-top: 8px;
}

.optionsControls {
	font-size: 80%;
}

.optionsControls  ul {
	list-style: none outside none;
}

.optionsControls .options-controls-li {
	float: left;
	margin-left: 20px;
	position: relative;
}

.sort-toggle {
	color: black;
	display: inline-block;
	font-weight: bold;
	margin: 0 0 0 5px;
	padding: 4px 12px 7px;
	cursor: pointer;
	line-height: 1.22em;
	position: relative;
	float: right;
}
  
.page-toggle {
	color: black;
	display: inline-block;
	font-weight: bold;
	margin: 0 0 0 5px;
	padding: 4px 12px 7px;
	cursor: pointer;
	line-height: 1.22em;
	position: relative;
	float: right;
}

.sortOptionWrapper {
	position: absolute;
	top: 26px;
	right: 0px;
	clear: both;
	content: ".";
	display: block;
	height: 60px;
	width: 110px;
	visibility: hidden;
	background-color: white;
	background-repeat: repeat;
	border-color: #1079C9 !important;
	border-style: solid;
	border-width: 0 1px 1px;
	padding: 16px;
	z-index: 222;
}

.sortOptions {
	border: 1px solid #CCCCCC;
	list-style: none outside none;
	padding-left: 5px;
	padding-right: 5px;
}

.sortOptions li {
	margin-top: 3px;
}

.pageOptionsWrapper {
	position: absolute;
	top: 26px;
	right: 0px;
	clear: both;
	content: ".";
	display: block;
	height: 180px;
	width: 135px;
	visibility: hidden;
	background-color: white;
	background-repeat: repeat;
	border-color: #1079C9 !important;
	border-style: solid;
	border-width: 0 1px 1px;
	padding: 16px;
	z-index: 222;
}

.pageOptions {
	border: 1px solid #CCCCCC;
	list-style: none outside none;
	padding: 0;
	border-style: none solid solid;
	border-width: 0 1px 1px;
}

.sub-section {
	position: relative;
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

.sub-section-header {
	background-color: #DDDDDD;
	border-left: medium none;
	border-right: 0 none;
	clear: both;
	color: #777777;
	padding: 4px 8px;
	font-weight: bold;
	margin: 0;
}

.sub-section-contents {
	padding: 6px;
}

.column {
	padding-bottom: 8px;
	padding-top: 8px;
}

.two-column {
	margin-left: 15px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.three-column {
	text-align: center;
	width: 25px;
	height: 15px;
	margin: 8px 8px 4px 4px;
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 8px;
	margin-right: 8px;
	padding-bottom: 2px;
	padding-top: 2px;
	float: left;
	border-color: black !important;
	border-style: solid;
	border-width: 1px;
}

.arrow {
	background: url("arrow-sprites.png") no-repeat scroll -3px -992px
		transparent;
	color: #D8A02A;
	display: block;
	left: inherit;
	padding: 0 2px;
	position: absolute;
	right: 0px;
	top: 5px;
}

.results-paging-next {
	background: url("../../../images/sub/btn_next.gif") no-repeat scroll right transparent;
	text-indent: -999em;
}

.results-paging-previous {
	background: url("../../../images/sub/btn_prev.gif") no-repeat scroll left transparent;
	overflow: hidden;
	text-indent: -999em;
	width: 0.5em;
}

.resultsIframe {
	display: none;
	width: 100%;
	height: 1000px;
}

.clickbar {
	margin-top: 10px;
	border: 1px solid #CDCDCD;
}
/* Record */
/* .record {
	width: 880px;
}  */
.record.full{
	width:100%;
}
.Discovery_box{
	margin-top: 20px;
}
.Discovery_box:after{
	display:block;
	content:"";
	clear:both;
}
.Discovery_box > .Discovery_content > .view_table th{
	padding-left:0;
}
.Discovery_box > .Discovery_content > .view_table{
	margin-top:5px;
}
.Discovery_box > .Discovery_content > .view_table > tbody > tr {
	border-bottom:1px solid #CCDDED;
}
.Discovery_box > .Discovery_content > .view_table > tbody > tr:last-child {
	border-bottom:1px solid rgba(51,122,183,0.5);
}
.Discovery_box > .Discovery_content > .view_table > tbody > tr > td{
	padding:10px 0;
}
.Discovery_box > .Discovery_content > .view_table > tbody > tr > td:first-child{
	border-right:1px solid #CCDDED;
}
.Discovery_box > .Discovery_content > .view_table > tbody > tr > td:nth-child(2){
	padding: 10px;
	text-align:justify;
}
.Discovery_box > .icon_box{

}
.Discovery_box > .icon_box > span	{
	
}
.Discovery_box > .icon_box > span > a,
.info > .pubtype > .links >  a{
	/* font-size:10px;
	padding:3px 10px; 
	text-decoration:none;
	border-radius:5px; */
}  
.info > .pubtype > .links{
	margin:0;  
	margin-top:10px;
	text-align:center;
}

.info .pubtype .links a, .info .links a, .Discovery_box .links a {
	font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    display: inline-block;
    margin-top: 3px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 11px;
    padding: 1px 3px;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    height:20px;
 	line-height:20px;
}

 .button_box a{
	border:1px solid #ddd;
	display:inline-block;
    margin-top: 3px;
    height: 25px;
  	line-height:25px;
    font-size: 11px;
    padding:0 10px;
    box-sizing:border-box;
}

.button_box a i{
	font-size:13px;
	margin:0 5px 0 0;
}
/* a.pdf{
	color: #B32017;
	border: 1px solid #B32017;
}
a.ebook_pdf{
	color:#01f;
	border: 1px solid #01f;
}
a.eds{
	color: #004276;
	border: 1px solid #004276;
}
a.html{
	color: #E74900;
	border: 1px solid #E74900;
}
a.add{
	color: #2881C2;
	border: 1px solid #2881C2;
}

a.pdf:hover, a.ebook_pdf:hover, a.eds:hover, a.html:hover, a.add:hover{
	color: #fff;
}
a.pdf:hover {
	background:#B32017;
	border:1px solid #B32017;
}
a.ebook_pdf:hover{
	background:#01f;
	border:1px solid #01f;
}
a.eds:hover{
	background:#004276;
	border:1px solid #004276;
}
a.html:hover{
	background:#E74900;
	border:1px solid #E74900;
}
a.add:hover{
	background:#2881C2;
	border:1px solid #2881C2;
} */

.links a > img{
	height:17px;
	margin-top: 1px;
}
.links span.btn_name, .links span.btn_name {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    color: #2a70b1;
    font-size: 11px;
    margin-left: 2px;
    letter-spacing:-0.5px;
}

.label {
	width: 200px;
}

.data {
	width: 800px;
}

.jacket {
	float: left;
}

/* General */
.highlight {
	font-weight: bold;
	color:#003964;

}

.summery {
	width: 220px;
	height: 110px;
}

.statistics {
	float: left;
}

.record .toolbar {
	font-size: 1em;
}

.toolbar {
	border-bottom: 1px solid #EEEEEE;
	font-size: 90%;
	margin-bottom: 1em;
	min-height: 2em;
	padding-left: 1em;
	text-align: right;
}



/* .table-cell-box {
	border: 1px solid #cccccc;
	list-style-type: none;
	padding: 5px;
}

.table-cell-box li {
	padding: 5px 0;
	border:1px solid #00f;
} */

.icon.pdf {
	background-position: 0 -84px;
}

.icon {
	background: url("sprites_32.png") no-repeat scroll left top transparent;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding-left: 36px;
}

.icon.html {
	background-position: 0 -42px;
}

.back {
	color: #ffffff;
	margin-left: 15px;
}



#sortoption, #perpageoption, #pageoption, 
#selectbox1, #selectbox2, #selectbox3, #selectbox4,
.check_button, .bibliography, 
.selectbox_wrap > .print_btn,
#all_chk {
  margin-top: 5px;
  border: 1px solid #ddd;
  width: 100px;
  height: 25px;
  line-height:25px;
  letter-spacing: 0.5px;
  border-radius: 0;
  color: #003964; 
  -webkit-appearance: none; 
  background:  url(../../../images/sub/sub_op.PNG) 80px center no-repeat; /* 화살표 이미지 */
  background-size:7px auto;
  font-size: 12px;
  padding:0 10px;
  text-align:center;
  box-sizing:border-box;
}

#perpageoption{
  width: 55px;
  background:  url(../../../images/sub/sub_op.PNG) 35px center no-repeat; /* 화살표 이미지 */
  background-size:7px auto;
}

#pageoption{    
  width: 70px;
  background:  url(../../../images/sub/sub_op.PNG) 50px center no-repeat; /* 화살표 이미지 */
  background-size:7px auto;
}     

#selectbox1 {
  width: 60px;
  background:  url(../../images/sub/sub_op.PNG) 40px center no-repeat; /* 화살표 이미지 */
  background-size:7px auto;
}
#selectbox2 {
  width: 115px;
  background:  url(../../images/sub/sub_op.PNG) 95px center no-repeat; /* 화살표 이미지 */
  background-size:7px auto;
}

#selectbox3 {
  width: 110px;
  background:  url(../../images/sub/sub_op.PNG) 90px center no-repeat; /* 화살표 이미지 */
  background-size:7px auto;
}

#selectbox4 {
  width: 85px;
  background:  url(../../images/sub/sub_op.PNG) 65px center no-repeat; /* 화살표 이미지 */
  background-size:7px auto;
}
.bibliography{
	width:140px;
}
.selectbox_wrap.search_box #selectbox2{
	width: 85px;
  	background:  url(../../images/sub/sub_op.PNG) 65px center no-repeat; /* 화살표 이미지 */
  	background-size:7px auto;
  	line-height:20px;
}
.selectbox_wrap.search_box .bibliography{
	width:90px;
  	margin-left:3px;
}
.selectbox_wrap.search_box #library1 {
    background: url(../../images/sub/down_icon00.PNG) no-repeat;
    background-size: 80%;
    width: 18px;
    height: 20px;
    float: right;
    margin-left: 3px;
    margin-top:0;
}
#all_chk{
	background:none;
	width:90px;
}
#all_chk:hover{
	color: #B15735;
}
button.print_btn{
	cursor:pointer;
	background:transparent;
	position:absolute;
	right:0;
}
button.print_btn:hover {
	color: #B15735;
}
button.print_btn i{
	color:#0085D2;
	font-size:13px;
	margin-left:5px;
}
.selectbox_wrap > button.print_btn{
	position:relative;
	width:74px;
	float:left;
}
#library1{background: url(../../images/sub/down_icon00.PNG) no-repeat; background-size:80%; width: 18px; height: 20px; float: right; margin-left:3px;}
#library2{background: url(../../images/sub/down_icon.PNG); width: 18px; height: 17px; float: right; margin-left:3px;}


#paging>a{
	margin: 0 7px;
    color: #7f7f7f;
    font-size: 13px
}


#paging>a.on{
	color: #003964;
}






